<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Callback</title>
    <style>
      body {
        background-image: url("https://login.dinersclub.tech.ec/auth/resources/mdyjn/login/DinersClub/img/background.jpg");
        background-repeat: no-repeat;
        background-size: cover;

        display: flex;
        align-items: center;

        width: 100%;
        min-height: 100%;

        overflow: auto;
        position: relative;
        z-index: 0;
      }
    </style>
  </head>
  <body></body>
</html>
