<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Entry Point</title>
  </head>

  <a href="http://localhost:3000/session/get-initialize" target="_blank">Click me</a>

  <body>
    <% if (href) { %>
    <script>
      document.addEventListener(
        "DOMContentLoaded",
        function () {
          const ua = navigator.userAgent.toLowerCase(),
            isIE = ua.indexOf("msie") !== -1,
            version = parseInt(ua.substr(4, 2), 10);

          // Internet Explorer 8 and lower
          if (isIE && version < 9) {
            const link = document.createElement("a");
            link.href = "<%= JSON.stringify(href) %> ";
            document.body.appendChild(link);
            link.click();
            // window.setTimeout(() => {
            // }, 3000);
          }
          // All other browsers can use the standard window.location.href
          // (they don't lose HTTP_REFERER like Internet Explorer 8 & lower does)
          else {
            window.location = "<%= JSON.stringify(href) %>";
            // window.setTimeout(() => {
            // }, 3000);
          }
        },
        false
      );
    </script>
    <% } %>
  </body>
</html>
